**@auhor** - Jazna Meza Hidalgo

**@version** - Septiembre 2024

# Ejercicio 1

In [ ]:
total, acumulado = 0, 0
while True:
  monto = int(input("Monto "))
  if monto % 1_000 == 0:
    break
  else:
    print("Monto inválido. Intente nuevamente")
billetes = [20_000, 10_000, 5_000, 2_000, 1_000]
indice = 0
while (monto-acumulado) > 0:
  total = (monto-acumulado) // billetes[indice]
  if total > 0 and (monto-acumulado) >= billetes[indice]:
    print(f"Le corresponden {total} billetes de {billetes[indice]}")
    acumulado += total*billetes[indice]
  indice += 1

Monto 6000
Le corresponden 1 billetes de 5000
5000
Le corresponden 1 billetes de 1000
6000

# Ejercicio 2

In [ ]:
import calendar

def dias(mes : int, year : int) -> int:
  # El segundo valor que retorna monthrange es el número de días del mes
  _, num_dias = calendar.monthrange(year, mes)
  return num_dias

assert(dias(2, 2024) == 29)

# Ejemplo de uso
try:
  any_mes = int(input("Mes "))
  any_year = int(input("Año "))
  print(f'El mes {any_mes} del año {any_year} tiene {dias(any_mes, any_year)} días.')
except ValueError:
  print("Error al ingresar los datos")

Mes 4
Año 2012
El mes 4 del año 2012 tiene 30 días.

# Ejercicio 3

In [ ]:
def get_first_digit(numero : int) -> int:
  total_digitos = len(str(numero))
  return numero // (10**(total_digitos-1))

def get_first_iterative(numero : int) ->int:
  while True:
    digito = numero % 10
    numero = numero // 10
    if numero == 0:
      break
  return digito

assert(get_first_iterative(8) == 8)
assert(get_first_iterative(29) == 2)
assert(get_first_iterative(729) == 7)

try:
  x_numero = int(input("Número "))
  print(f"Primer dígito de {x_numero} es {get_first_digit(x_numero)}")
  print(f"Primer dígito de {x_numero} es {get_first_iterative(x_numero)}")
except ValueError:
  print("Error al ingresar valor")

Número 729
Primer dígito de 729 es 7
Primer dígito de 729 es 7

# Ejercicio 4

In [ ]:
def cantidad_digitos(numero : int) -> int:
  total = 1
  while True:
    numero = numero // 10
    if numero == 0:
      break
    total += 1
  return total

assert(cantidad_digitos(567) == 3)
assert(cantidad_digitos(7) == 1)
assert(cantidad_digitos(29) == 2)

while True:
  try:
    numero = int(input("Número "))
    if numero == 0:
      break
    print(f"{numero} tiene {cantidad_digitos(numero)} dígitos")
  except ValueError:
    print("Entrada inválida")

Número 567
567 tiene 3 dígitos
Número 29
29 tiene 2 dígitos
Número 7
7 tiene 1 dígitos
Número 0
0 tiene 1 dígitos

# Ejercicio 5

## a

In [ ]:
"""
def es_perfecto(numero : int) -> bool:
  suma = 0
  for divisor in range(1, numero+1):
    if (numero % divisor == 0):
      suma += divisor
  return suma == numero
"""
def es_perfecto(numero: int) -> bool:
    return sum(divisor for divisor in range(1, numero // 2 + 1) if numero % divisor == 0) == numero

assert es_perfecto(6) == True
assert(not es_perfecto(29))

try:
  x_numero = int(input("Número "))
  print(f"{x_numero} {'SI' if es_perfecto(x_numero) else 'NO'} es perfecto")
except ValueError:
  print("Error al ingresar valor")

Número 15
15 NO es perfecto

## b

In [ ]:
numero = mas_cercano = 2
while numero < 1000:
  if es_perfecto(numero):
    mas_cercano = numero
  numero += 1
print(f"Número perfecto más cercano a 1000 es {mas_cercano}")

Número perfecto más cercano a 1000 es 496

# Ejercicio 6

In [ ]:
import numpy as np

suma = total = 0
rendimientos = []
try:
  while True:
    kms = float(input("Kms? "))
    if kms == 0:
      break
    litros = float(input("Litros? "))
    rendimiento = (kms/litros)
    print(f"Rendimiento = {rendimiento:.2f}")
    suma += rendimiento
    total += 1
    rendimientos.append(rendimiento)

  rendimientos.sort(reverse = True)

  print("Resultados finales:")
  print(f"Rendimiento promedio = {suma/total: .1f}")
  print(f"Mejor rendimiento = {rendimientos[0]:.1f}")
  print(f"2do mejor rendimiento = {rendimientos[1]:.1f}")
except ValueError:
  print("Entrada inválida")

Kms? 180
Litros? 16
Rendimiento = 11.25
Kms? 250
Litros? 20
Rendimiento = 12.50
Kms? 516
Litros? 11
Rendimiento = 46.91
Kms? 0
Resultados finales:
Rendimiento promedio =  23.6
Mejor rendimiento = 46.9
2do mejor rendimiento = 12.5

# Ejercicio 7

In [ ]:
"""
def raiz(x : int, n : int) -> float:
  raices = []
  raices.append(x/2)
  for i in range(1,n+1):
    raices.append(1/2*(raices[i-1] + x/raices[i-1]))
  return raices[n]
"""
def raiz(x : int, n : int) -> float:
    r = x / 2  # r0 es x / 2
    for i in range(n):
        r = 0.5 * (r + x / r)  # fórmula para rN
    return r


raiz(27, 2)

5.616935483870968

In [ ]:
import math

# Función para calcular la aproximación de la raíz cuadrada
def raiz(x, N) -> float:
    r = x / 2  # r0 es x / 2
    for i in range(N):
        r = 0.5 * (r + x / r)  # fórmula para rN
    return r

# Genera la tabla de aproximaciones sucesivas para x=2
def aproximar_raiz_cuadrada(x) -> None:
    valor_real = math.sqrt(x)
    tolerancia = 1e-6  # Un millonésimo
    r = x / 2  # Primer valor r0
    iteracion = 0

    # Imprimir encabezado de la tabla
    print(f"{'Iteración':<10}{'Aproximación':<20}{'Diferencia con math.sqrt':<25}")
    print('-' * 55)

    # Itera hasta que la diferencia con la raíz real sea menor a la tolerancia
    while True:
        # Actualizar el valor de la aproximación
        r_nuevo = 0.5 * (r + x / r)

        # Calcular la diferencia con math.sqrt(x)
        diferencia = abs(r_nuevo - valor_real)

        # Imprimir la iteración y la aproximación
        print(f"{iteracion:<10}{r_nuevo:<20}{diferencia:<25}")

        # Si la diferencia es menor que la tolerancia, detener
        if diferencia < tolerancia:
            print(f"\nLa primera aproximación que difiere en menos de un millonésimo es: {r_nuevo}")
            break

        # Actualizar r y la iteración
        r = r_nuevo
        iteracion += 1

# Llamamos a la función para generar la tabla de aproximaciones para la raíz cuadrada de 2
aproximar_raiz_cuadrada(2)

Iteración Aproximación        Diferencia con math.sqrt
-------------------------------------------------------
0         1.5                 0.08578643762690485
1         1.4166666666666665  0.002453104293571373
2         1.4142156862745097  2.123901414519125e-06
3         1.4142135623746899  1.5947243525715749e-12

La primera aproximación que difiere en menos de un millonésimo es: 1.4142135623746899

# Ejercicio 8

## a

In [8]:
import numpy as np
def conjunto(lst : np.array) -> np.array:
  x_set = []
  for elemento in lst:
      if not elemento in x_set:
        x_set.append(elemento)
  return x_set

assert conjunto([1,2,2,1,1,2]) == [1,2]

conjunto([1,2,2,1,1,2])

[1, 2]

In [12]:
def conjunto_v(lst: np.array) -> np.array:
    return list(set(lst))

assert conjunto_v([1,2,2,1,1,2]) == [1,2]

conjunto_v([1,2,2,1,1,2])

[1, 2]

## b

In [14]:
def toString(lst : np.array) -> str:
  return "{" + ",".join(str(elemento) for elemento in conjunto(lst)) + "}"

assert toString([1,2,2,1,1,2]) == "{1,2}"

In [15]:
toString([1,2,2,1,1,2])

'{1,2}'

## c

In [6]:
def fx_union(lst1: list, lst2: list) -> set:
    return set(lst1).union(set(lst2))

# Prueba 1: elementos únicos en ambas listas
assert fx_union([1, 2, 3], [3, 4, 5]) == {1, 2, 3, 4, 5}

# Prueba 2: listas con todos los elementos duplicados
assert fx_union([1, 1, 2], [2, 3, 3]) == {1, 2, 3}

# Prueba 3: una lista vacía y otra con elementos
assert fx_union([], [1, 2, 3]) == {1, 2, 3}

# Prueba 4: ambas listas vacías
assert fx_union([], []) == set()

In [7]:
fx_union([1, 1, 2], [2, 3, 3])

{1, 2, 3}

## d

In [22]:
def interseccion(lst1: list, lst2: list) -> set:
    return set(lst1).intersection(set(lst2))

# Prueba 1: elementos repetidos en ambas listas
assert interseccion([1, 2, 3], [3, 2, 5]) == {2, 3}

# Prueba 2: listas con todos los elementos duplicados
assert interseccion([2, 3, 3], [2, 3, 3]) == {2, 3}

# Prueba 3: una lista vacía y otra con elementos
assert interseccion([], [1, 2, 3]) == set()

# Prueba 4: una lista vacía y otra con elementos
assert interseccion([1, 2, 3], []) == set()

# Prueba 5: ambas listas vacías
assert interseccion([], []) == set()

In [23]:
interseccion([2, 3, 3], [2, 3, 3])

{2, 3}

## e

In [24]:
def diferencia(lst1: list, lst2: list) -> set:
    return set(lst1).difference(set(lst2))

# Prueba 1: elementos repetidos en ambas listas
assert diferencia([1, 2, 3], [3, 2, 5]) == {1}

# Prueba 2: listas con todos los elementos duplicados
assert diferencia([2, 3, 3], [2, 3, 3]) == set()

# Prueba 3: una lista vacía y otra con elementos
assert diferencia([], [1, 2, 3]) == set()

# Prueba 4: una lista vacía y otra con elementos
assert diferencia([1, 2, 3], []) == {1,2,3}

# Prueba 5: ambas listas vacías
assert diferencia([], []) == set()

In [25]:
diferencia([2, 3, 3], [2, 3, 3])

set()

# Ejercicio 9

## a

In [30]:
def menores(lst : list, umbral : int) -> int:
  return sum(elemento < umbral for elemento in lst)

assert menores([15,25,2,30,29], 20) == 2

## b

In [33]:
def listaMenores(lst : list) -> list:
  return [menores(lst, elemento) for elemento in lst]

assert listaMenores([50,30,70,20]) == [2,1,3,0]

## c

In [37]:
def listaOrdenada(lst : list) -> list:
  # Setea la lista
  lst_result = [0] * len(lst)
  indice_original = 0
  # Obtiene la lista de menores (los índices)
  indices_menores = listaMenores(lst)
  for indice in indices_menores:
    lst_result[indice] = lst[indice_original]
    indice_original+=1
  return lst_result

assert listaOrdenada([50,30,70,20]) == [20,30,50,70]

# Ejercicio 10

In [20]:
candidatos = ["Gabriela", "Jose", "Rosa", "Matias"]

# Crea el diccionario
votos = {}
for candidato in candidatos:
  votos[candidato] = 0
# Lee los votos
for indice, candidato in enumerate(candidatos):
  while True:
    try:
      num_votos = int(input(f"Votos de {candidato} : "))
      votos[candidato] += num_votos
      break
    except ValueError:
      print("Error al leer los votos")

# Calcular el total de votos
total_votos = sum(votos.values())

# Crear una lista de tuplas con el candidato y su porcentaje de votos
porcentajes = [(candidato, (voto / total_votos) * 100) for candidato, voto in votos.items()]

# Ordenar la lista por porcentaje de votos de mayor a menor
porcentajes_ordenados = sorted(porcentajes, key=lambda x: x[1], reverse=True)

# Mostrar los resultados en orden descendente
print("\nResultados ordenados (en porcentaje):")
for candidato, porcentaje in porcentajes_ordenados:
    print(f"{candidato: <15} {porcentaje:.1f}%")

Votos de Gabriela : 12
Votos de Jose : 3
Votos de Rosa : 55
Votos de Matias : 90

Resultados ordenados (en porcentaje):
Matias          56.2%
Rosa            34.4%
Gabriela        7.5%
Jose            1.9%

# Ejercicio 11

In [41]:
def costo_telegrafo(mensaje : str) -> int:
  costo_total = 0

  for caracter in mensaje:
    if caracter.isalpha():  # Si es una letra
      costo_total += 10
    elif caracter.isdigit():  # Si es un dígito
      costo_total += 20
    elif not caracter.isspace():  # Si no es un espacio (y tampoco una letra o dígito, es un caracter especial)
      costo_total += 30

  return costo_total

assert costo_telegrafo("Hola mundo! 123") == 180
assert costo_telegrafo("curioso") == 70

# Ejemplo de uso:
mensaje = "Hola mundo! 123"
costo = costo_telegrafo(mensaje)
print(f"El costo de enviar el mensaje es: ${costo}")

El costo de enviar el mensaje es: $180

# Ejercicio 12

In [43]:
paises = {
    'Pepito': ['Chile', 'Argentina'],
    'Yayita': ['Francia', 'Suiza', 'Chile'],
    'Juan': ['Chile', 'Italia', 'Francia', 'Peru']
}

In [48]:
def paisesEnComun(px : str, py : str, diccionario : dict) -> int:
  return len(interseccion(diccionario[px], diccionario[py]))

paisesEnComun("Pepito", "Yayita", paises)

1

# Ejercicio 13

In [18]:
import string

def codificar(mensaje : str, clave : str) -> str:
  # Alfabeto normal y creación del alfabeto cifrado
  alfabeto_normal = string.ascii_lowercase
  alfabeto_cifrado = ''.join(sorted(set(clave), key=clave.index)) + ''.join([letra for letra in alfabeto_normal if letra not in clave])

  # Diccionario de mapeo de letras normales a cifradas
  mapa_cifrado = {alfabeto_normal[i]: alfabeto_cifrado[i] for i in range(len(alfabeto_normal))}

  # Cifrar el mensaje
  mensaje_cifrado = ''
  for caracter in mensaje:
    mensaje_cifrado += mapa_cifrado[caracter] if caracter in mapa_cifrado else caracter

  return mensaje_cifrado

#assert codificar("scooby", "doo") == "sanooy"
# Ejemplo de uso
mensaje = "scooby"
clave = "doo"
mensaje_cifrado = codificar(mensaje, clave)
print(mensaje_cifrado)  # Salida esperada: sanooy
print(len(mensaje_cifrado))

sannoy
6

# Ejercicio 14

In [ ]:
import numpy as np
# Crear el archivo
with open("datos.txt", 'w') as file:
  for i in range(1, 11): # Va a generar 10 líneas
    # Escribir 3 números aleatorios en cada línea separados por un espacio
    file.write(f"{np.random.randint(1,30)} {np.random.randint(1,30)} {np.random.randint(1,30)}\n")

In [10]:
def sumaLineas(archivo : str) -> list:
  sumas = []
  # Leer el archivo de texto
  with open(archivo, 'r') as file:
    for linea in file:
        # Separar los números en la línea
        numeros = map(int, linea.strip().split())
        sumas.append(sum(numeros))
  return sumas

sumaLineas("datos.txt")

[58, 50, 25, 40, 48, 41, 50, 69, 52, 64]

In [17]:
def sumaColumnas(archivo : str) -> np.array:
  datos = []
  # Leer el archivo de texto
  with open(archivo, 'r') as file:
    for linea in file:
        # Separar los números en la línea
        numeros = list(map(int, linea.strip().split()))
        datos.append(numeros)
  columnas = list(zip(*datos))

  # Sumar los valores de cada columna
  suma_columnas = [sum(col) for col in columnas]
  return suma_columnas

sumaColumnas("datos.txt")

[172, 215, 110]

# Ejercicio 15

In [62]:
pacientes = {"12067539-7":["Anastasia López", 32],
             "8509454-8":["Pablo Muñoz", 45],
             "7752666-8":["Ignacio Navarro", 49],
             "8015253-1":["Alejandro Pacheco", 51],
             "9217890-0":["Patricio Pimienta", 39],
             "9487280-4":["Ignacio Rosas", 42],
             "12393241-2":["Ignacio Rubio",33],
             "11426761-9":["Romina Pérez", 35],
             "15690109-1":["Francisco Ruiz", 26],
            "9023365-3":["Manuel Toledo", 38],
             "10985778-5":["Jesús Valdés", 38],
             "12187197-1":["Ximena Garcés", 54],
             "8654231-5": ["Andrónico Lòpez", 75],
             "5106360-0":["Pedro Perez", 78] }

atenciones = [
    ["12393241-2","06-05-2021", 57274],
    ["10985778-5","08-05-2021", 73206],
    ["8015253-1", "10-05-2021", 30796],
    ["8015253-1", "12-05-2021", 47048],
    ["11426761-9", "13-05-2021", 39117],
    ["10985778-5","15-05-2021", 86209],
    ["8015253-1","18-05-2021", 74101],
    ["12187197-1","20-05-2021", 38909],
    ["8654231-5","20-05-2021", 75018],
    ["8654231-5","22-05-2021", 64944],
    ["5106360-0","24-05-2021", 53341],
    ["8015253-1","27-05-2021", 76047],
    ["9217890-0","30-05-2021", 57726],
    ["7752666-8","01-06-2021",54987]
]

In [63]:
# Crear los archivos
with open("pacientes.txt", 'w') as file:
  for rut, datos in pacientes.items():
    file.write(f"{rut}:{datos[0]}:{datos[1]}\n")

with open("atenciones.txt", 'w') as file:
  for datos in atenciones:
    print(datos)
    file.write(f"{datos[0]}:{datos[1]}:{datos[2]}\n")

['12393241-2', '06-05-2021', 57274]
['10985778-5', '08-05-2021', 73206]
['8015253-1', '10-05-2021', 30796]
['8015253-1', '12-05-2021', 47048]
['11426761-9', '13-05-2021', 39117]
['10985778-5', '15-05-2021', 86209]
['8015253-1', '18-05-2021', 74101]
['12187197-1', '20-05-2021', 38909]
['8654231-5', '20-05-2021', 75018]
['8654231-5', '22-05-2021', 64944]
['5106360-0', '24-05-2021', 53341]
['8015253-1', '27-05-2021', 76047]
['9217890-0', '30-05-2021', 57726]
['7752666-8', '01-06-2021', 54987]

In [66]:
def obtener_datos(archivos : np.array) -> np.array:
  atenciones, pacientes = [], []
  # Leer el archivo de texto de atenciones
  with open(archivos[0], 'r') as file:
    for linea in file:
      atenciones.append(linea.strip().split(":"))
  # Leer el archivo de texto de pacientes
  with open(archivos[1], 'r') as file:
    for linea in file:
      pacientes.append(linea.strip().split(":"))

  return atenciones, pacientes

## a

In [52]:
import pandas as pd
# Debería recibir el nombre del archivo con los datos
def costoTotalPaciente(rut : str, archivo : str) -> int:
  datos = []
  # Leer el archivo de texto
  with open(archivo, 'r') as file:
    for linea in file:
      datos.append(linea.strip().split(":"))

  # Traspaso a una estructura en memoria principal para manipular
  data = pd.DataFrame(datos, columns=["rut", "fecha", "costo"])

  return data.query(f"rut == '{rut}'")['costo'].astype("int").sum()

costoTotalPaciente("8654231-5", "atenciones.txt")

0

## b

In [118]:
def pacientesDia(dia : int, mes: int, anio : int, archivos : np.array) -> list:
  datos, pacientes = obtener_datos(archivos)

  # Traspaso a una estructura en memoria principal para manipular
  data = pd.DataFrame(datos, columns=["rut", "fecha", "costo"])
  data_pacientes = pd.DataFrame(pacientes, columns=["rut", "nombre", "edad"])
  data_combinado = pd.merge(data, data_pacientes, on="rut", how="left")
  fecha_consulta = f"{str(dia).zfill(2)}-{str(mes).zfill(2)}-{anio}"
  return list(data_combinado.query(f"fecha == '{fecha_consulta}'")['nombre'])

pacientesDia(20,5,2021,["atenciones.txt", "pacientes.txt"])

['Ximena Garcés', 'Andrónico Lòpez']

## c

In [131]:
def reporte(titulo : str, data :pd.DataFrame) -> None:
  print(f"\n\n{titulo}")
  print("-"*67)
  print(f"{'rut':<20} {'nombre':<25} edad")
  print(f"{'-'*19:<20} {'-'*24:<25} {'-'*20}")
  for i in range(len(data)):
    print(f"{data.iloc[i]['rut']:<20} {data.iloc[i]['nombre']:<25} {data.iloc[i]['edad']}")

In [132]:
def separarPacientes(archivos : np.array) -> None:
  _, pacientes = obtener_datos(archivos)

  data_pacientes = pd.DataFrame(pacientes, columns=["rut", "nombre", "edad"])
  data_pacientes["edad"] = data_pacientes["edad"].astype("int64")

  report = data_pacientes.query("edad < 30")

  # Generación de reporte 1
  reporte("PACIENTES MENORES A 30 AÑOS",  data_pacientes.query("edad < 30"))
  # Generación de reporte 2
  reporte("PACIENTES MAYORES A 60 AÑOS",  data_pacientes.query("edad > 60"))

In [133]:
separarPacientes(["atenciones.txt", "pacientes.txt"])

PACIENTES MENORES A 30 AÑOS
-------------------------------------------------------------------
rut                  nombre                    edad
-------------------  ------------------------  --------------------
15690109-1           Francisco Ruiz            26


PACIENTES MAYORES A 60 AÑOS
-------------------------------------------------------------------
rut                  nombre                    edad
-------------------  ------------------------  --------------------
8654231-5            Andrónico Lòpez           75
5106360-0            Pedro Perez               78

## d

In [170]:
def gananciasPorMes(archivos : np.array) -> None:
  atenciones, _ = obtener_datos(archivos)
  # Traspaso a una estructura en memoria principal para manipular
  data = pd.DataFrame(atenciones, columns=["rut", "fecha", "costo"])

  data['fecha'] = pd.to_datetime(data['fecha'], format='%d-%m-%Y')
  data['costo'] = data['costo'].astype("int")
  # Extraer el mes y crear una nueva columna 'mes'
  data['mes'] = data['fecha'].dt.month

  # Obtener el costo total por mes
  reporte = data.groupby('mes')['costo'].sum()
  print(f"{'MES': <5} COSTO")
  print(f"{'-'*4: <5} {'-'*10}")
  for i in range(len(reporte)):
    print(f"{reporte.index[i]: <5} ${reporte.iloc[i]:,.0f}")

In [171]:
gananciasPorMes(["atenciones.txt", "pacientes.txt"])

MES   COSTO
----  ----------
5     $773,736
6     $54,987